sudo: required
dist: trusty
language: node_js
node_js:
    - "6"
## home folder is /home/travis/radanalyticsio/oshinko-webui
services:
- docker
addons:
  apt:
    packages:
      - net-tools
  chrome: stable
matrix:
  # no need to include the build target at present because the template
  # tests perform builds from the local source to do the tests
  include:
    - env: TO_TEST=secure
    - env: TO_TEST=standard
fast_finish: true
before_install:
## add insecure-registry and restart docker
  - pwd
  - ls -l
  - bash --version
  - sudo apt-get install --only-upgrade bash
  - bash --version
  - sudo cat /etc/default/docker
  - sudo service docker stop
  - sudo sed -i -e 's/sock/sock --insecure-registry 172.30.0.0\/16/' /etc/default/docker
  - sudo cat /etc/default/docker
  - sudo service docker start
  - sudo service docker status
## chmod needs sudo, so all other commands are with sudo
  - sudo mkdir -p /home/travis/origin
  - sudo chmod -R 766 /home/travis/origin
## download oc 3.6.0 binary
  - export OC_VERSION=v3.6.0
  - export OC_DOWNLOAD_PREFIX=openshift-origin-client-tools-v3.6.0-c4dd4cf
  - sudo wget https://github.com/openshift/origin/releases/download/$OC_VERSION/$OC_DOWNLOAD_PREFIX-linux-64bit.tar.gz -P /home/travis/origin
  - sudo ls -l /home/travis/origin
  - sudo tar -C /home/travis/origin -xvzf /home/travis/origin/$OC_DOWNLOAD_PREFIX-linux-64bit.tar.gz
  - sudo ls -l /home/travis/origin/$OC_DOWNLOAD_PREFIX-linux-64bit
  - sudo cp /home/travis/origin/$OC_DOWNLOAD_PREFIX-linux-64bit/oc /home/travis/origin
  - sudo chmod -R 766 /home/travis/origin
  - sudo ls -l /home/travis/origin
  - sudo chmod -R +755 /home/travis/origin/*
  - sudo cp /home/travis/origin/oc /bin
  - sudo ls -l /bin
  - oc version
  - export PATH=$PATH:/home/travis/origin/
  - echo $PATH
  - ip addr show eth0
  - export HOST_IP_ADDRESS="$(ip addr show eth0 | grep "inet\b" | awk '{print $2}' | cut -d/ -f1)"
  - echo "Host IP is $HOST_IP_ADDRESS"
## below cmd is important to get oc working in ubuntu
  - sudo docker run -v /:/rootfs -ti --rm --entrypoint=/bin/bash --privileged openshift/origin:$OC_VERSION -c "mv /rootfs/bin/findmnt /rootfs/bin/findmnt.backup"
  - sudo oc cluster up --host-config-dir=/home/travis/origin --public-hostname=$HOST_IP_ADDRESS
  - sudo chmod -R a+rwX /home/travis/.kube
  - sudo ls -l /home/travis/origin
## find IP:PORT of openshift
  - IPSTR=`sudo oc status |grep server`
  - echo $IPSTR
  - IP=${IPSTR##*/}
  - echo ${IP}
  - IPSTR=`sudo oc login -u developer -p test`
  - echo $IPSTR
  - echo "My token is set to-  $(oc whoami -t)"
install:
  - npm install
  - bower install
  - npm install -g protractor
  - npm install -g karma-cli
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - webdriver-manager update --gecko=false
  - webdriver-manager start &
script:
  - |
      if [ "$TO_TEST" = "secure" ]; then
          WEBUI_START_XVFB=false make test-e2e-secure
      else
          WEBUI_START_XVFB=false make test-e2e
      fi
## uncomment the following 3 lines for debugging purposes
#  - export PODNAME=`oc get pods --template='{{range .items}}{{.metadata.name}}{{end}}'`
#  - oc logs pod/$PODNAME -c oshinko-web
#  - oc logs pod/$PODNAME -c oauth-proxy
notifications:
 email:
   on_success: never
on_failure: never
