<div>
    <dl class="dl-horizontal">
        <dt translatable="yes">Name</dt>
        <dd>{{cluster_id}}</dd>
        <dt translatable="yes">Status</dt>
        <dd>{{getClusterStatus(oshinkoClusters[cluster_id])}}</dd>
        <dt translatable="yes">Master</dt>
        <dd>{{getSparkMasterUrl(cluster_id)}}</dd>
        <dt translatable="yes">Master count</dt>
        <dd>{{countMasters(oshinkoClusters[cluster_id])}}</dd>
        <dt translatable="yes">Worker count</dt>
        <dd>{{countWorkers(oshinkoClusters[cluster_id])}}</dd>
        <dt translatable="yes">Master Web UI</dt>
        <dd ng-if="getSparkWebUi(oshinkoClusters[cluster_id])"><a href="{{getSparkWebUi(oshinkoClusters[cluster_id])}}" target="_blank">{{getSparkWebUi(oshinkoClusters[cluster_id])}}</a></dd>
        <dd ng-if="!getSparkWebUi(oshinkoClusters[cluster_id])">N/A</dd>
        <dt translateable="yes">Cluster configuration</dt>
        <dd><pre>{{getClusterConfig(oshinkoClusters[cluster_id])}}</pre></dd>
    </dl>
</div>
