/* app css stylesheet */

.login-pf {
  background-color: #1a1a1a;
  color: #ffffff;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-top:30px;
}

.login-pf .details {
    border-left: 1px solid #474747;
    padding-left: 40px;
}

.newbutton {
  padding-right: 20px;
}
