<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <div class="page-header page-header-bleed-right">
                <div class="actions pull-right">
                    <a href="#"><span class="pficon pficon-refresh"></span> Refresh Results</a>
                </div>
                <h1>About</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table">
                        <tr>
                            <td><span class="label label-success">Version</span></td>
                            <td><strong>{{ 'Current version is v%VERSION%.' | interpolate }}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->