<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <div class="page-header page-header-bleed-right">
                <div class="pull-right">
                    <pf-notification-list></pf-notification-list>
                </div>
                <h1>Cluster Details</h1>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" ng-controller="DetailsModalCtrl">
                        <li>
                            <a href="javascript:void(0);" ng-click="open('', 'stopform.html', 'StopModalInstanceCtrl')">Stop</a>
                            <a href="javascript:void(0);" ng-click="open('', 'scaleform.html', 'ScaleModalInstanceCtrl')">Scale</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Name:
                                {{cluster_details.name}}</li>
                            <li>Status:
                                {{cluster_details.status}}</li>
                            <li>Tags:
                                <span ng-repeat="indtag in cluster_details.tags track by $index">{{indtag}}{{$last ? '' : ', '}}</span>
                            </li>
                            <li>Annotations:
                                <span ng-repeat="annotation in cluster_details.annotations track by $index">{{annotation}}{{$last ? '' : ', '}}</span>
                            </li>
                            <li>Master address:
                                {{cluster_details.masterUrl}}</li>
                            <li>Workers count:
                                {{cluster_details.workerCount}}
                            <li>Worker addresses:<br/>
                                <span ng-repeat="worker in cluster_details.worker_addresses">{{worker.ip_address}}<br/></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
