<div class="listing-ct-body cluster-panel">
    <table listing-table class="listing-ct cluster-body">
        <thead ng-if="cluster_details.pods">
            <tr >
                <th translatable="yes">Pods</th>
                <th translatable="yes">Type</th>
                <th translatable="yes">Status</th>
            </tr>
        </thead>
        <tbody colspan="3" ng-repeat="pod in cluster_details.Pods" >
            <tr class="listing-ct-item inner-project-listing">
                <td>
                    <div>
                        <i class="fa fa-cubes"></i>
                        {{pod.IP}}
                    </div>
                </td>
                <td>
                    <div>
                        {{pod.Type}}
                    </div>
                </td>
                <td ng-switch="pod.Status">
                    <span ng-switch-when="Running" class="label label-success">{{pod.status}}</span>
                    <span ng-switch-when="Error" class="label label-danger">{{pod.status}}</span>
                    <span ng-switch-when="Scaling" class="label label-default">{{pod.status}}</span>
                    <span ng-switch-default class="label label-default">{{pod.status}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>