<div class="modal-header">
    <h3 class="modal-title">Start a new cluster</h3>
</div>
<div class="modal-body">
    <form>
        <div style="margin-bottom: 15px;">
            <div class="form-group">
                <label for="clustername">Name</label>
                <input class="form-control" name="clustername" id="clustername" type="text"/>
                <div class="help-block">The name of your cluster (alphanumeric characters only)</div>
            </div>
        </div>
        <div style="margin-bottom: 15px;">
            <div class="form-group">
                <label for="numworkers">Number of workers</label>
                <input name="numworkers" id="numworkers" type="number" min="1" value="1"/>
                <div class="help-block">Your cluster will be launched with this number of worker nodes</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>