<div class="modal-header">
    <h3 class="modal-title">Start a new cluster</h3>
</div>
<div class="modal-body">
    <form name="newClusterForm">
        <div style="margin-bottom: 15px;">
            <div class="form-group">
                <label for="clustername">Name</label>
                <input class="form-control" name="clustername" id="clustername" type="text" ng-maxlength="21" ng-pattern="/^\w*$/" ng-model="clusterName" required/>
                <div class="help-block">The name of your cluster</div>
                <div role="alert">
                  <span class="error" ng-show="newClusterForm.clustername.$dirty && newClusterForm.clustername.$error.required">
                    You must give your cluster a name</span>
                  <span class="error" ng-show="newClusterForm.clustername.$error.pattern">
                    Single word, alphanumeric characters only</span>
                  <span class="error" ng-show="newClusterForm.clustername.$error.maxlength">
                    21 characters is the maximum length</span>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 15px;">
            <div class="form-group">
                <label for="numworkers">Number of workers</label>
                <input name="numworkers" id="numworkers" type="number" min="1" value="1" ng-model="workerCount"/>
                <div class="help-block">Your cluster will be launched with this number of worker nodes</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="createbutton" class="btn btn-primary" type="button" ng-disabled="newClusterForm.$invalid" ng-click="ok()">Create</button>
    <button id="cancelbutton" class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
