<div class="listing-ct-body cluster-panel">
    <table listing-table class="listing-ct cluster-body">
        <thead ng-if="oshinkoClusters[clusterId]">
            <tr >
                <th translatable="yes">Pods</th>
                <th translatable="yes">Type</th>
                <th translatable="yes">Status</th>
            </tr>
        </thead>
        <tbody colspan="3" ng-repeat="pod in oshinkoClusters[clusterId].master.pod">
            <tr class="listing-ct-item inner-project-listing">
                <td>
                    <div>
                        <i class="fa fa-cubes"></i>
                        {{ pod.status.podIP }}
                    </div>
                </td>
                <td>
                    <div ng-click="console.log(clusterId)">
                        master
                    </div>
                </td>
                <td ng-switch="pod.status.phase">
                    <span ng-switch-when="Running" class="label label-success">{{ pod.status.phase }}</span>
                    <span ng-switch-when="Error" class="label label-danger">{{ pod.status.phase }}</span>
                    <span ng-switch-when="Scaling" class="label label-default">{{ pod.status.phase }}</span>
                    <span ng-switch-default class="label label-default">{{ pod.status.phase }}</span>
                </td>
            </tr>
        </tbody>
        <tbody colspan="3" ng-repeat="pod in oshinkoClusters[clusterId].worker.pod">
        <tr class="listing-ct-item inner-project-listing">
            <td>
                <div>
                    <i class="fa fa-cubes"></i>
                    {{ pod.status.podIP }}
                </div>
            </td>
            <td>
                <div>
                    worker
                </div>
            </td>
            <td ng-switch="pod.status.phase">
                <span ng-switch-when="Running" class="label label-success">{{ pod.status.phase }}</span>
                <span ng-switch-when="Error" class="label label-danger">{{ pod.status.phase }}</span>
                <span ng-switch-when="Scaling" class="label label-default">{{ pod.status.phase }}</span>
                <span ng-switch-default class="label label-default">{{ pod.status.phase }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>