<project-header class="top-header"></project-header>
<project-page>
    <!-- Middle section -->
    <div class="middle-section">
        <div class="middle-container">
            <div class="middle-header header-light">
                <div class="container-fluid">
                    <tasks></tasks>
                    <alerts alerts="alerts"></alerts>
                    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
                    <div class="page-header page-header-bleed-right page-header-bleed-left">
                        <div class="pull-right">
                            <button class="btn btn-primary" id="startbutton" ng-click="newCluster()">Deploy</button>
                        </div>
                        <h1>Spark Clusters</h1>
                    </div>
                </div>
            </div>
            <div class="middle-content" in-view-container>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 gutter-top">
                            <div class="well blank-slate-pf spacious" ng-if="!oshinkoClusters || oshinkoClusterNames.length <= 0">
                                <div class="blank-slate-pf-icon">
                                    <i class="fa fa-hourglass-start"></i>
                                </div>
                                <h3>No Spark Clusters present</h3>
                                <p>You can deploy a new spark cluster.</p>
                            </div>
                            <table class="table table-bordered table-hover table-mobile" ng-if="oshinkoClusterNames.length > 0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Master</th>
                                    <th>Worker count</th>
                                    <th><span class="sr-only">Actions</span></th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="cluster in oshinkoClusterNames" ng-init="id = cluster" name="cluster-row-{{ $index }}" data-id="{{ id }}">
                                <tr>
                                    <td data-title="Name" id="clustername-{{ cluster }}" ng-click="gotoCluster(cluster)">{{ cluster }}</td>
                                    <td data-title="Status" ng-switch="getClusterStatus(oshinkoClusters[cluster])" ng-click="gotoCluster(cluster)">
                                        <span ng-switch-when="Running" class="fa fa-refresh" aria-hidden="true" ng-class="{'fa-spin' : spinning, 'fa-fw': fixedWidth}"></span>
                                        <span ng-switch-when="Error" class="fa fa-times text-danger" aria-hidden="true" ng-class="{'fa-fw': fixedWidth}"></span>
                                        <span ng-switch-when="Scaling" class="spinner spinner-xs spinner-inline" aria-hidden="true" ng-class="{'fa-fw': fixedWidth}"></span>
                                        <span ng-switch-when="Pending" class="spinner spinner-xs spinner-inline" aria-hidden="true" ng-class="{'fa-fw': fixedWidth}"></span>
                                        <span ng-switch-default class="fa fa-question text-danger" aria-hidden="true" ng-class="{'fa-fw': fixedWidth}"></span>
                                        <span> {{ getClusterStatus(oshinkoClusters[cluster]) }}</span>
                                    </td>
                                    <td data-title="MasterURL" name="masterurl-{{ cluster }}" ng-click="gotoCluster(cluster)">{{ getSparkMasterUrl(oshinkoClusters[cluster]) }}</td>
                                    <td data-title="Workers" name="workercount-{{ cluster }}" ng-click="gotoCluster(cluster)">{{ countWorkers(oshinkoClusters[cluster]) }}</td>
                                    <td data-title="Actions" class="text-xs-left text-right">
                      <span uib-dropdown>
                        <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
                          Actions
                          <span class="caret" aria-hidden="true"></span>
                        </button>
                        <ul class="uib-dropdown-menu dropdown-menu-right">
                          <li>
                            <a href="" role="button" ng-click="scaleCluster(cluster, countWorkers(oshinkoClusters[cluster]))">Scale Cluster</a>
                          </li>
                          <li>
                            <a href="" role="button" ng-click="deleteCluster(cluster)">Delete Cluster</a>
                          </li>
                        </ul>
                      </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</project-page>
