<div class="modal-header">
    <h4 class="modal-title" translatable="yes">Deploy cluster</h4>
</div>
<div class="modal-body" ng-keyup="submitForm($event, 'newCluster')">
    <form>
        <fieldset ng-disabled="disableInputs">
            <div class="form-group">
                <label for="cluster-new-name">Name</label>
                <input id="cluster-new-name" class="form-control input-lg" type="text" ng-model="fields.name" autofocus="true"/>
            </div>
            <div class="form-group">
                <label for="cluster-new-workers">Number of workers</label>
                <input id="cluster-new-workers" class="form-control input-lg" type="number" ng-model="fields.workers"/>
            </div>
        </fieldset>
    </form>
    <div ng-show="formError">
        <span class="form-error">{{ formError }}</span>
    </div>
</div>
<div class="modal-footer">
    <button id="cancelbutton" class="btn btn-default btn-cancel1" translatable="yes" ng-click="cancelfn()">Cancel</button>
    <button id="createbutton" class="btn btn-primary" translatable="yes" ng-click="complete(newCluster())">Deploy</button>
</div>
