<div class="modal-header">
    <h4 class="modal-title" translatable="yes">Scale cluster {{clusterName}}</h4>
</div>
<div class="modal-body" ng-keyup="submitForm($event, 'scaleCluster', workerCount)">
    <form>
        <fieldset ng-disabled="disableInputs">
            <div class="form-group">
                <label for="numworkers" id="numworkers">Number of workers</label>
                <input class="form-control input-lg" name="numworkers" type="number" min="1" ng-model="workerCount" value="{{workerCount}}"/>
            </div>
        </fieldset>
    </form>
    <div class="form-error" ng-show="formError">{{ formError }}</div>
</div>
<div class="modal-footer">
    <button id="cancelbutton" class="btn btn-default btn-cancel" translatable="yes" ng-click="cancelfn()">Cancel</button>
    <button id="scalebutton" class="btn btn-primary" translatable="yes" ng-click="complete(scaleCluster(workerCount))">Scale</button>
</div>
